<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Guia Perguntas</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> <!--importa bootstrap-->
    <link rel="stylesheet" href="/css/style.css">  <!--importa css-->

</head>